Makefile
Makefile.in
*.o
*.lo
*.la
.deps
.libs
.idea
.directory
compile_commands.json

/configure
/config.guess
/config.log
/config.status
/config.sub
/config.rpath
/compile
/depcomp
/dummy-config.h
/dummy-config.h.in
/coi-autoconfig.h
/install-sh
/libtool
/ltmain.sh
/missing
/run-test.sh
/aclocal.m4
/stamp.h
/stamp-h1
/stamp-h2
/autom4te.cache
/m4

src/**/test-*
!src/**/test-*.c
!src/**/test-*.h
